.about {
  position: absolute;
  width: 500px;
  top: 286px;
  font-weight: bolder;
  line-height: 150%;
}

h2 {
  margin-bottom: 10px;
}

section:not(:last-of-type) {
  margin-bottom: 50px;
}

.top-logo {
  display: block;
  position: fixed;
  width: 100px;
  top: 91px;

  background-repeat: no-repeat;
  background-size: 100px auto;
  background-position: center center;
  background-image: url('../img/she_bg copy@2x.png');

  z-index: 3;
}
