
.w2cols {
  width: calc(var(--col-net-width) + var(--col-width));
}

.w3cols {
  width: calc(var(--col-net-width) + 2 * var(--col-width));
}

.w4cols {
  width: calc(var(--col-net-width) + 3 * var(--col-width));
}

.w5cols {
  width: calc(var(--col-net-width) + 4 * var(--col-width));
}

.w6cols {
  width: calc(var(--col-net-width) + 5 * var(--col-width));
}

.w7cols {
  width: calc(var(--col-net-width) + 6 * var(--col-width));
}

.w8cols {
  width: calc(var(--col-net-width) + 7 * var(--col-width));
}

.w9cols {
  width: calc(var(--col-net-width) + 8 * var(--col-width));
}

.w10cols {
  width: calc(var(--col-net-width) + 9 * var(--col-width));
}

.w11cols {
  width: calc(var(--col-net-width) + 10 * var(--col-width));
}

.w12cols {
  width: calc(var(--col-net-width) + 11 * var(--col-width));
}

.coco-img {
  position: absolute;
}

.img-01 {
  top: calc(317 * (var(--top-unit) / 1440));
}

.img-02 {
  top: calc(883 * (var(--top-unit) / 1440));
}

.img-03 {
  top: calc(785 * (var(--top-unit) / 1440));
}

.img-04 {
  top: calc(1350 * (var(--top-unit) / 1440));;
  background-color: #E8FFF6;
  background-image: url('../img/coco/img04.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(213 * (var(--top-unit) / 1440)); auto;
  height: calc(417 * (var(--top-unit) / 1440));;
  background-blend-mode: multiply;
}

.img-05 {
  top: calc(1510 * (var(--top-unit) / 1440));;
}

.img-06 {
  top: calc(1939 * (var(--top-unit) / 1440));;
}

.img-07 {
  top: calc(2531 * (var(--top-unit) / 1440));;
}

.img-08 {
  top: calc(2485 * (var(--top-unit) / 1440));;
}

.img-09 {
  top: calc(2528 * (var(--top-unit) / 1440));;
}

.img-10 {
  top: calc(3604 * (var(--top-unit) / 1440));;
}

.img-11 {
  top: calc(4108 * (var(--top-unit) / 1440));;
}

.img-12 {
  top: calc(4908 * (var(--top-unit) / 1440));;
}

.img-13 {
  top: calc(4890 * (var(--top-unit) / 1440));;
}

.img-14 {
  top: calc(5693 * (var(--top-unit) / 1440));;
}

.img-15 {
  top: calc(6768 * (var(--top-unit) / 1440));;
}

.img-16 {
  top: calc(6869 * (var(--top-unit) / 1440));;
}

.img-17 {
  top: calc(7595 * (var(--top-unit) / 1440));
}

.img-18 {
  top: calc(8342 * (var(--top-unit) / 1440));
  background-color: #E8FFF6;
  background-image: url('../img/coco/img18.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(188 * (var(--top-unit) / 1440)); auto;
  height: calc(207 * (var(--top-unit) / 1440));;
  background-blend-mode: multiply;
}

.img-19 {
  top: calc(8290 * (var(--top-unit) / 1440));
}

.img-20 {
  top: calc(9160 * (var(--top-unit) / 1440));
}

.img-21 {
  top: calc(9459 * (var(--top-unit) / 1440));
}


.bottom-spacer {
  position: absolute;
  top: calc(10000 * (var(--top-unit) / 1440));px;
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 1920px) {

}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 668px) {

}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	.img-04 {
    background-image: url('../img/coco/img04@2x.png');
  }

  .img-18 {
    background-image: url('../img/coco/img18@2x.png');
  }
}
