body {
   background-image: url("/static/images/bg_women.jpg");
   background-size: cover;
   font-size: xx-large;
 }

#menu {
  font-family: "Greta Mono Bold";
  font-size: 200%;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  display: block;
}

#containter{
  width: 100%
}
