body {
  font-size: xx-large;
  background-color: #D8FBE3;
  overflow: hidden;
}

#bg-image{
  position: absolute;
  background-image: url("/static/images/coming_soon_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #bg-image {
    background-image: url("/static/images/coming_soon_bg@2x.png");
  }
}


a{
  color: inherit;
  text-decoration: inherit;
}

#menu {
  font-family: "Greta Mono Bold";
  font-size: 5.8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  text-align: center;
  display: block;
}

#containter {
  width: 100%
}

#red-bg-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ffffff+30&0.48+0,0+10 */
  background: -moz-linear-gradient(top, rgba(255, 0, 0, 0.48) 0%, rgba(255, 85, 85, 0) 10%, rgba(255, 255, 255, 0) 30%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 0, 0, 0.48)), color-stop(10%, rgba(255, 85, 85, 0)), color-stop(30%, rgba(255, 255, 255, 0)));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0.48) 0%, rgba(255, 85, 85, 0) 10%, rgba(255, 255, 255, 0) 30%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(255, 0, 0, 0.48) 0%, rgba(255, 85, 85, 0) 10%, rgba(255, 255, 255, 0) 30%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(255, 0, 0, 0.48) 0%, rgba(255, 85, 85, 0) 10%, rgba(255, 255, 255, 0) 30%);
  /* IE10 preview */
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.48) 0%, rgba(255, 85, 85, 0) 10%, rgba(255, 255, 255, 0) 30%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aff0000', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

#girl{
  position: absolute;
  top: calc(50% - 11vw);
  left: 50%;
  transform: translate(-50%, -50%)
}

#girl_img{
  max-width: 11vw;
  height: auto;
}
